.main{
    display:flex;
}
.main a{
    display: flex;
    flex-direction: column;
}
.main img{
    width:200px;
    height:200px;
}
.profile img{
    width:50px;
    height:50px;
    border-radius:50%;
}